<!DOCTYPE html>
<html>
    <head>
        <!-- ... -->
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/font-awesome.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/ionicons.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/AdminLTE.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/_all-skins.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/morris.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/jquery-jvectormap.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/bootstrap-datepicker.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/daterangepicker.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/bootstrap3-wysihtml5.min.css')}}">
        <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
      <!--  <link rel="stylesheet" href="{{ asset('build/app.css') }}"> -->
    </head>
 <body class="hold-transition login-page" style="background-color:#3c8dbc;">
		<div class="login-box">
		  <div class="login-logo">
		    <a href="#" style="color:#FFF">JobOwner </a>
		  </div>
		  <!-- /.login-logo -->
		  <div class="login-box-body">
		    <p class="login-box-msg">Sign in to start your Account</p>

		<form action="{{ path("fos_user_security_check") }}" method="post" class="form-group">
		      <div class="form-group has-feedback">
		        <label for="username">Email</label>
			    <input  class="form-control" type="text" id="username" name="_username" value="" required="required" />
		        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

		      </div>
		      <div class="form-group has-feedback">
		        <label for="password">Password</label>
			    <input class="form-control" type="password" id="password" name="_password" required="required" />
			    <span class="glyphicon glyphicon-lock form-control-feedback"></span>

		      </div>
		      <div class="row">
		        <div class="col-xs-12">
		          <div class="checkbox icheck">
		          <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
					    <label for="remember_me">remember me</label>
		          </div>
		        </div>
		        <!-- /.col -->
		        <div class="col-xs-12">
		          <input class="form-control btn btn-primary" type="submit" id="_submit" name="_submit" value="Login" />
		        </div>
		        <!-- /.col -->
		      </div>
		    </form>
		    <a href="#">I forgot my password</a><br>
		    <a href="register.html" class="text-center">Register a new membership</a>

		  </div>
		</div> 
        {% block javascripts %}
            
        {% endblock %}
        <script type="text/javascript" src="{{ asset('assets/js/modules/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modules/jquery-ui.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modules/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modules/raphael.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modules/morris.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modules/jquery.sparkline.min.js')}}"></script>
         <script type="text/javascript" src="{{ asset('assets/js/modules/jquery.knob.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modules/moment.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modules/daterangepicker.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modules/bootstrap-datepicker.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modules/bootstrap3-wysihtml5.all.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modules/jquery.slimscroll.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modules/fastclick.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modules/adminlte.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modules/dashboard.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modules/demo.js')}}"></script>

        <!-- <script src="{{ asset('build/app.js') }}"></script> -->
    </body>
</html>
