<!DOCTYPE html>
<html>
<head>
    <!-- ... -->
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/bootstrap4.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/simple-line-icons.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modules/landing-page.min.css')}}">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <style>
        /* Stackoverflow preview fix, please ignore */
        .navbar-nav {
            flex-direction: row;
        }

        .nav-link {
            padding-right: .5rem !important;
            padding-left: .5rem !important;
        }
        .nav-link-text{
            color: #000000;
        }
        .nav-space-item{
            margin-right: 10px;
        }
    </style>
</head>
<body>
{% block body %}


{% endblock %}
<script type="text/javascript" src="{{ asset('assets/js/modules/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/js/modules/bootstrap.min.js')}}"></script>
</body>
</html>
