{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    {{ include('AppBundle::partials/header.html.twig') }}

	<!-- Icons Grid -->
	<section class="features-icons bg-light text-center">
	    <div class="container">
	        <div class="row">
	        	<div class="col-lg-4"> 
	        	</div>
	            <div class="col-lg-4">

	            	<div>
			            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			                 {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} | 

			                <a href="{{ path('fos_user_security_logout') }}">
			                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
			                </a>
			            {% endif %}    
			        </div>

			        {% if app.request.hasPreviousSession %}
			            {% for type, messages in app.session.flashbag.all() %}
			                {% for message in messages %}
			                    <div class="alertflash-{{ type }}">
			                        {{ message }}
			                    </div>
			                {% endfor %}
			            {% endfor %}
			        {% endif %}

			        <form action="{{ path('freelancer_registration') }}" method="POST">
					    <div class="form-group" id="fos_user_registration_form">
					        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
					        {{ form_errors(form.email) }}
					        <br>
					        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'User name'} }) }}
					        {{ form_errors(form.username, { 'attr':{ 'class': 'alert alert-danger' }}) }}
					        <br>
					        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
					        {{ form_errors(form.plainPassword.first,{ 'attr':{ 'class': 'alert alert-danger' }}) }}					       
					        <br>
					        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'repeat your Password' } }) }}
					        {{ form_errors(form.plainPassword.second,{ 'attr':{ 'class': 'alert alert-danger' }}) }}
					        <br>
					        {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Name'} }) }}
					        {{ form_errors(form.name,{ 'attr':{ 'class': 'alert alert-danger' }}) }}
					        <br>
					        {{ form_rest(form) }}

					    </div>
					    <div>
					        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Get Started">
					    </div>
					</form>
	            </div>
	        </div>
	    </div>
	</section>


{{ include('AppBundle::partials/footer.html.twig') }}
{% endblock %}









